<!DOCTYPE html>
<html lang="en">
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
  <title>Profile Page</title>
  <link rel="stylesheet" href="css/styles.css">

</head>
<body>
  <div class="userProfile"> 


    <form 
      name="logout"
      action="/logout"
      method="get"> 
      <input type="submit" value="Logout" />
      <span>Logged in as <b><%= user.username %></b></span>
    </form>
  </div>

  <form 
    name="changePassword"
    action="auth/update"
    method="post"
    class="authForm">
    <h2>Change Your Password (inactive)</h2>
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="enter your username">
    </div>
    <div>
      <label for="password">New Password</label>
      <input type="text" name="password" placeholder="enter a new password">
    </div>
    <input type="submit"> 
  </form>

</body>